<% provide(:title, "Home") %>
<div class="main-container1">
 <h1>ようこそMK_TESTへ</h1>
 <%= link_to "ログイン", '#', class: "btn btn-lg btn-primary" %>
 <p>アカウントをまだ持っていない方は<%= link_to "こちら", signup_path %></p>
 <h2>ログインしないで<%= link_to "スレッドを見る", topics_index_path %></h2>
</div>
