<%= @user.name %>, <%= @user.email %>
<div class="container">
  <nav>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Home", root_path %></li>
      <% if logged_in? %>
      <li><%= link_to "Users", '#' %></li>
      <ul class="user-menu">
        <li><%= link_to "Profile", current_user %></li>
        <li><%= link_to "Settings", '#' %></li>
        <li><%= link_to "Log out", logout_path, method: :delete %></li>
      </ul>
      <% end %>
    </ul>
  </nav>
