@import "bootstrap-sprockets";
@import "bootstrap";


// header
.navbar {
  background-color: #BDBDBD;
  height : 70px;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #2E2E2E;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  &:hover {
    color: blue;
    text-decoration: none;
  }
}

.input-group {
  width: 200px;
  float: right;
}

// main-pages
.main-container1 {
  text-align: center;
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
