<nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
  <%= link_to "MK_TEST", root_path, id: "logo" %>
  <div class="input-group">
	 <input type="text" class="form-control" placeholder="タイトル検索">
	  <span class="input-group-btn">
		  <button type="button" class="btn btn-default">検索</button>
	  </span>
  </div>
 <div class="container">

 </div>
</nav>
